.header {
  background-color: #121212;
  color: white;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0px 5px 10px black;
}

h3 {
  text-shadow: 0px 5px 10px black;
}

body {
  text-align: center;
  background-color: #000000;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.textHolder {
  text-align: center;
  background-color: #121212;
  color: white;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 5px 10px black;
  padding: 20px;
}

.navbar {
  overflow: hidden;
  background-color: #121212;
  box-shadow: 0px 5px 10px black;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 0px 5px 10px black;
}

.navbar a:hover {
  background-color: #b6867c;
  color: black;
  transition-duration: 0.4s;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #121212;
  box-shadow: 10px 10px 50px black;
  color: white;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
}
.img {
  background-image: url("https://cdn.glitch.com/f11cddb4-cc4c-4e35-b19d-fe3fa43679c8%2Fthumbnails%2F76c3d72d-59be-4035-af74-a4cef12c9b34.image.png?1580323670884");
}

.btn{
  position: center;
  padding: 20px;
}
.btn a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  box-shadow: 0px 5px 10px black;
  border: none;
  transition-duration: 0.4s;
  background-color: hsl(220, 90%, 56%);
  border-radius: 50px;
}

.btn a:hover {
  background-color: hsl(220, 90%, 42%);
}

img {
  position: center;
  width: 10%;
  height 10%;
}
